html
    body
        each item in Items
            div
                div(style={width:300, height:20, margin:30 })
                    p(style={})= item.path
                div(style={width:300, height:300})
                    img.image(src=item.name style={width:300, height:300})
                div(style={width: 120, height:120})
                    div(style={width:100, height:100, margin:20, padding:10, background:'rgb(' + item.color +')'})
